<main>
  <h1>Find your best friend</h1>

  <div class="form">
    <mat-form-field appearance="fill" >
      <mat-label>Sex</mat-label>
      <mat-select  #sexSelect>
        <mat-option *ngFor="let sex of sexs" [value]="sex">
          {{sex}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Age</mat-label>
      <mat-select #ageSelect>
        <mat-option *ngFor="let age of ages" [value]="age">
          {{age}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Size</mat-label>
      <mat-select #sizeSelect>
        <mat-option *ngFor="let size of sizes" [value]="size">
          {{size}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  

    <button mat-icon-button aria-label="Search button" (click)="search(sexSelect.value,ageSelect.value,sizeSelect.value)">
      <mat-icon>search</mat-icon> Search
    </button>
  </div>

  <section>
    <mat-card *ngFor="let dog of dogsCopy$ | async" class="example-card">
     <app-dog-card [dog]="dog"></app-dog-card>
    </mat-card>
  </section>

</main>
