@import "../../../styles/colors";

.nav--mobile {
  mat-toolbar {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  mat-form-field {
    width: 150px;
  }
}

.nav--desktop {
  display: none;
}

.nav__image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: $color-primary;
}

a {
  cursor: pointer;
}

@media only screen and (min-width: 750px) {
  .nav--mobile {
    display: none;
  }

  .nav--desktop {
    margin: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      display: flex;
      .nav__logo {
        width: 120px;
        filter: invert(36%) sepia(85%) saturate(337%) hue-rotate(122deg)
          brightness(98%) contrast(94%);
      }
      ul {
        margin-right: 20px;
        font-family: Montserrat, sans-serif;
        font-size: 20px;
        font-weight: 600;
        display: flex;
        list-style: none;
        li {
          color: $color-primary;
          padding: 10px;
          margin: 0px 5px;
        }
      }
    }
  }
}
