<nav class="nav--mobile" aria-label="Menu Site">
  <mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        <span>User Info</span>
      </button>
      <button mat-menu-item>
        <a routerLink="/">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </a>
      </button>
      <button mat-menu-item>
        <a routerLink="/dogs">
          <mat-icon>pets</mat-icon>
          <span>Dogs</span>
        </a>
      </button>
      <button mat-menu-item>
        <mat-icon>group</mat-icon>
        <span>Members</span>
      </button>
      <button mat-menu-item>
        <a routerLink="/form">
          <mat-icon>info</mat-icon>
          <span>About Us</span>
      </a>
      </button>
      <button mat-menu-item>
        <mat-icon>login</mat-icon>
        <span>Log In</span>
      </button>
    </mat-menu>
    <form class="example-form">
      <mat-form-field>
        <input type="text" matInput placeholder="Search">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </form>
    <img src='../../../assets/avatar-profile.jpg' alt="user" class="nav__image" />
  </mat-toolbar>
</nav>

<nav class="nav--desktop" aria-label="Menu Site">
  <img src="../../../assets/bestfriend-menu.svg" alt="logo" class="nav__logo">
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/dogs">Dogs</a></li>
    <li>Members</li>
    <li><a routerLink="/form">About Us</a></li>
  </ul>
  <div class="nav__spacer"></div>
  <form class="example-form">
    <mat-form-field>
      <input type="text" matInput placeholder="Search">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </form>
  <div class="nav__spacer"></div>
  <img src='../../../assets/avatar-profile.jpg' alt="user" class="nav__image" />
</nav>