<nav class="nav--mobile" aria-label="Menu Site">
  <mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="mobileMenu()">
        <mat-icon>account_circle</mat-icon>
        <span>User Info</span>
      </button>
      <button mat-menu-item>
        <a routerLink="/">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </a>
      </button>
      <button mat-menu-item>
        <a routerLink="/dogs">
          <mat-icon>pets</mat-icon>
          <span>Dogs</span>
        </a>
      </button>
      <button mat-menu-item>
        <a routerLink="/shelters">
          <mat-icon>group</mat-icon>
          <span>Shelters</span>
        </a>
      </button>
      <button *ngIf="!this.userLogged" mat-menu-item>
        <a routerLink="/signin">
          <mat-icon>login</mat-icon>
          <span>Sign In</span>
        </a>
      </button>
      <button *ngIf="this.userLogged" mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Sign Out</span>
      </button>
    </mat-menu>
    <div *ngIf="!this.userLogged">
      <a routerLink="/signin">
        <img
          src="../../../assets/avatar-profile.jpg"
          alt="user"
          class="nav__image"
        />
      </a>
    </div>
    <div *ngIf="this.userLogged">
      <a [routerLink]="['/profile']">
        <img
          src="{{ this.userLogged.photoURL }}"
          alt="user"
          class="nav__image"
        />
      </a>
    </div>
  </mat-toolbar>
</nav>

<nav class="nav--desktop" aria-label="Menu Site">
  <div>
    <img
      src="../../../assets/bestfriend-menu.svg"
      alt="logo"
      class="nav__logo"
    />
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/dogs">Dogs</a></li>
      <li><a routerLink="/shelters">Shelters</a></li>
      <li *ngIf="!this.userLogged"><a routerLink="/signin">Sign In</a></li>
      <li *ngIf="this.userLogged"><a (click)="logout()">Sign Out</a></li>
    </ul>
  </div>

  <div *ngIf="!this.userLogged">
    <a routerLink="/signin">
      <img
        src="../../../assets/avatar-profile.jpg"
        alt="user"
        class="nav__image"
      />
    </a>
  </div>
  <div *ngIf="this.userLogged">
    <a [routerLink]="['/profile']">
      <img src="{{ this.userLogged.photoURL }}" alt="user" class="nav__image" />
    </a>
  </div>
</nav>
