<main *ngIf="selectedDog$ | async as selectedDog">
  
  <h1>{{selectedDog.name}}</h1>

  <div class="carousel">
  <ngb-carousel class="carousel__item">
    <ng-template ngbSlide *ngFor="let photo of selectedDog.photosURL">
      <div class="wrapper">
        <img [src]="photo" alt="selectedDog.name">
      </div>
      </ng-template>
    </ngb-carousel>
  </div>

  <div class="dog-data">
    <div class="dog-data__item">
      <span class="item-title">Shelter:</span> {{selectedDog.shelter.name}}
    </div>
    <div class="dog-data__item">
      <span class="item-title">Breed:</span> {{selectedDog.breed.name}}
    </div>
    <div class="dog-data__group">
      <div class="dog-data__item">
        <span class="item-title">Age:</span> {{selectedDog.age | titlecase
      }}
      </div>
      <div class="dog-data__item">
        <span class="item-title">Sex:</span> {{selectedDog.sex | titlecase}}
      </div>
      <div class="dog-data__item">
        <span class="item-title">Size:</span> {{selectedDog.size | titlecase}}
      </div>
      <div class="dog-data__item">
        <span class="item-title">Color:</span> {{selectedDog.color.name}}
      </div>
    </div>
    <div class="dog-data__item">
      <span class="item-title">Description:</span> {{selectedDog.description}}
    </div>
    <div class="dog-data__button" *ngIf="selectedDog.adoption">
      <button type="button" (click)="adopt(selectedDog, userLogged._id)" [disabled]="!userLogged">ADOPT</button>
    </div>
  </div>

</main>
