<main>
  <div class="logo">
    <img src="../../../assets/bestfriend.png" alt="logo">
    <div>
      <h1>Find your best friend!</h1>
      <h2>Adopt now!</h2>
    </div>
  </div>

  <section>
    <mat-card *ngFor="let dog of dogs$ | async" class="example-card">
      <mat-card-header>
        <img mat-card-avatar src={{dog.user.photoURL}} alt="shelter">
        <mat-card-title>{{dog.name}}</mat-card-title>
        <mat-card-subtitle>{{dog.user.name}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src={{dog.photosURL[0]}} alt="Dog">
      <mat-card-content>
        <p>
          {{dog.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>ADOPT</button>
        <button mat-button>SPONSOR</button>
      </mat-card-actions>
    </mat-card>
  </section>

</main>
