@import "../../../styles/colors";
@import "../../../styles/links";
@import "../../../styles/matcard";

h2 {
  padding: 10px 0px 0px 0px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: $color-primary;
  margin: 0px;
}